:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --main-background-color: #f5f4fa;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.hidden-title {
  visibility: hidden;
}
address {
  font-style: normal;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
/* header */

.header {
  border: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

.logo-2-part {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
  margin-right: 93px;
}

.header-nav-list {
  display: flex;
  align-items: center;
}
.header-nav-item:not(:last-child) {
  margin-right: 52px;
}

.header-nav-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.header-nav-link.current {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  align-items: center;
}

.contacts-mail {
  margin-left: 330px;
  margin-right: 50px;
}

.contacts-link {
  color: var(--text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* hero*/
.hero {
  background-color: #2f303a; /* temporary solution */
  text-align: center;
}

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin: 0 auto;
  max-width: 700px;
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  border: none;
  padding: 12px 32px;
  margin-top: 30px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}
/* advantage */
.advantage {
  display: flex;
  align-items: center;
}
.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: var(--primary-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantage-text {
  color: var(--text-color);
}
/* work */
.work-list {
  display: inline-block;
}
.work-item {
  display: inline-block;
}
.work-item:not(:last-child) {
  margin-right: 20px;
}
.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}
/* team */
.team {
  background-color: var(--main-background-color);
}

.team-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}

.team-item:not(:last-child) {
  margin-left: 30px;
}

.team-desc {
  padding: 30px 66px;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--text-color);
}
/* porfolio */
.porfolio-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
  cursor: pointer;
  border: none;
  margin-bottom: 35px;
  margin-right: 10px;
  padding: 6px 22px;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.ourworks {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.ourworks-content {
  padding: 20px 25px;
}

.ourworks-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.ourworks-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.ourworks-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.ourworks-text {
  font-size: 16px;
  line-height: 1.8;
  color: var(--text-color);
}
/* footer */

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  background-color: #2f303a;
}

.logo-2-part-footer {
  color: var(--primary-white-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.real_address {
  color: var(--primary-white-color);
  margin-top: 20px;
}

.footer_contacts {
  color: rgba(255, 255, 255, 0.6);
}
